.action{
    font-size:1.5rem;
    font-family:var(--heading-font);
    background-color: var(--accent);
    color:var(--background);
    padding:0.5rem;
    border-radius: 0.5rem;
    border:1px solid var(--background);
    text-decoration: none;
    width:fit-content;
    margin:0 auto;
}

.action:hover{
    background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1));
    color:white;
    border: 1px solid white;
}

.action:active{
    box-shadow:inset 0 0 500px rgba(0,0,0,0.5);
}