@media screen and (min-width: 585px){
    
    header{
        grid-template-columns: 225px auto;
    }

    nav{
        display:flex;
        width:fit-content;
        grid-row:1;
        grid-column:2;
        justify-self: end;
        transition:none;
    }

    nav ul{
        display:flex;
        list-style-type: none;
    }

    nav a{
        height:60px;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    #menu{
        display:none;
    }

    main{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

}